a {
    color: rgba(255,240,228,1);
}

p {
    color: rgba(255,240,228,1);
    letter-spacing: 0.09em;
    line-height: 1.5em;
    font-size: calc(4px + 2vmin);
    font-family: 'Fjalla One', sans-serif;
    margin: 10px 0 0 24px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 0.09em;
    line-height: 1.5em;
    color: rgba(255,185,124,1);
    opacity: 1;
    font-size: calc(10px + 2vmin);
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 0.09em;
    line-height: 1.5em;
    color: rgba(255,185,124,1);
    opacity: 1;
    font-size: calc(6px + 2vmin);
}

select {
    margin: 20px 0 0 24px;
    width: 100px;
    height: 30px;
    font-weight: bold;
    background-color: rgba(245,245,245, 0.8);
    border: 2px solid rgba(119, 119, 119, 0.5);
}

#close-settings {
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(media/close.png) !important;
    background-repeat: no-repeat;
    top: 35px;
    left: 350px;
    cursor: pointer !important;
}

#close-settings:hover {
    background-image: url(media/close_hover.png) !important;
}

#open-settings {
    background-image: url('media/settings2.png') !important;
    position: absolute;
    top: 555px;
    left: 15px;
    cursor: pointer !important;
    padding: 35px 0 35px 35px;
    background-repeat: no-repeat;
}

#open-settings:hover {
    background-image: url('media/settings2.png') !important;
    cursor: pointer !important;
    padding: 35px 0 35px 35px;
    background-repeat: no-repeat;
}

.api-input-card {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 360px;
    height: 560px;
    background-color: rgba(98,95,124,0.8);
    border-radius: 6px;
    z-index: -10 !important;
}

.api-input-card-content {
    margin: 20px;
}

.api-input {
    border-radius: 6px;
    position: relative;
    background-color: rgba(245,245,245, 0.8);
    margin: 20px 0 0 24px;
    height: 30px;
    width: 220px;
    padding-left: 10px;
    font-weight: bold;
    border: 2px solid rgba(119, 119, 119, 0.5);
}

input[type=submit] {
    background-color: rgba(245,245,245, 0);
    color: rgba(245,245,245, 0.8);
    border: 2px solid rgba(245,245,245, 0.8);
    border-radius: 6px;
    margin: 0 0 0 10px;
    height: 36px;
    transform: translate(0, 2px);
    font-size: 14pt;
    font-family: 'Fjalla One', sans-serif;
}

input[type=submit]:hover {
    background-color: rgba(245,245,245, 1);
    position: relative;
    color: rgba(98,95,124,1);
    border: 2px solid rgba(245,245,245, 1);
    border-radius: 6px;
    margin: 0 0 0 10px;
    height: 36px;
    transform: translate(0, 2px);
    font-size: 14pt;
    font-family: 'Fjalla One', sans-serif;
    cursor: pointer !important;
}

.enter-api-heading {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 70px 0 0 24px;
}

.update-interval-heading {
    margin: 30px 0 0 24px;
    font-weight: bold;
}

.update-degree-heading {
    margin: 30px 0 0 24px;
    font-weight: bold;
}